.paginateGrid{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 98vw;
}

.paginateDivPrevious{
    margin-right: 0.2rem;
    display: flex;
    width: 2rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-left: 5rem;
    float: left
}

.paginateDivNext{
    margin-left: 0.2rem;
    display: flex;
    width: 2rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-right: 5rem;
    float: right;
}

.paginatePages {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #74009D;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.paginatePages:hover{
    color: white;
    background-color: #9e00d3;
}

.paginateNumbers {
    list-style: none;
    display:flex;
    flex-direction: row;
    text-decoration: none;
}

.paginateCurrentPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #4c0366;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.paginateCurrentPage:hover {
    color: white;
    background-color: #74009D;
}

.paginatePrevious {
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 3px;
    color: white;
    border-radius: 0.5rem;
    background-color: #9e00d3;
}

.paginateNext {
    width: 2rem;
    height: 2rem;
    padding: 3px;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
    background-color: #9e00d3;
}

.paginateNext:hover {
    color: white;
    background-color: #74009D;
}

.paginatePrevious:hover {
    color: white;
    background-color: #74009D;
}