.userReviewFormAll {
}

.userReviewFormOne {
  font-size: 1rem;
}

.userReviewFormLabelOne {
  color: white;
  align-self: center;
  flex-grow: 2;
  text-align: center;
  font-size: 1.5rem;
}

.usersReviewsDescription {
  width: 50vw;
  height:15vh;
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  padding: 0.2vw;
}

.userReviewFormText{
}

.userReviewFormStarOne {
  margin-top: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 5vw;
  height:5vh;
  font-size: 2vw;
}

.userReviewFormRating{
  text-align: center;
  width: 5vw;
  height:5vh;
  transition: 0.3s;
  text-decoration: none;
}

.userReviewFormRating:hover {
  color: rgba(133, 165, 16, 0.788);
}

.userReviewFormRating:focus {
  color: rgba(133, 165, 16, 0.788);
}

.userReviewFormButton {
    justify-self: center;
    width: 15vh;
    background-color: white;
    border-radius: 1vw;
    padding: 0.2vw;
    margin-bottom: 6vh;
    margin-top: 3vh
}