.productListGrid{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 25vw 7vw 7vw 10vw 10vw 25vw 5vw 5vw 1fr;
    grid-template-rows: 13vh;
    width: 100%;
    max-width: 100vw;
    color: white;
}
.productListGrid input, .productListGrid textarea {
  text-align: center;
  outline: none;
  color: white;
  background-color: transparent;
}

.productListName{
  grid-row: 1/2;
  grid-column: 2/3;
  border: none;
  border-top: 0.01rem white solid;
  font-size: 0.9rem;
}

.productListPrice{
  grid-row: 1/2;
  grid-column: 3/4;
  border: none;
  border-top: 0.01rem white solid;
}

.productListStock{
    grid-row: 1/2;
    grid-column: 4/5;
    border: none;
    border-top: 0.01rem white solid;
}

.productListDiscount{
    grid-row: 1/2;
    grid-column: 5/6;
    border: none;
    border-top: 0.01rem white solid;
    color:white;
}

.productListSize{
    grid-row: 1/2;
    grid-column: 6/7;
    border: none;
    border-top: 0.01rem white solid;
}
.productListColors{
    grid-row: 1/2;
    grid-column: 7/8;
    padding: 0.2rem;
    border: none;
    border-top: 0.01rem white solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.productListColorsButton{
  border: none;
  background-color: #74009D;
  color: white;
  width: 30%;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.productListColorsButton:hover{
  background-color: #9e00d3;
}

.productListEditButton{
    grid-row: 1/2;
    grid-column: 8/9;
    border:none;
    align-self: center;
    justify-self: center;
    background-color: #74009D;
    width: 70%;
    height: 60%;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

.productListEditButton:hover{
  background-color: #9e00d3;
}

.productListDeleteButton{
  grid-row: 1/2;
  grid-column: 9/10;
  border:none;
  align-self: center;
  justify-self: center;
  background-color: rgb(150 00 00);
  width: 70%;
  height: 60%;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}
.productListDeleteButton:hover{
  background-color: rgb(200 00 00);
}


