.productsListBackground{
    background-color: #5A5A5A;
    width: 170vw;
    height: 100vh;
}

.productsListGrid{
    display: grid;
    grid-template-columns: 1fr 7vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    width: 170vw;
    border-bottom: 0.01vw white solid;
    text-align: start;
    color: white;
    background-color: #5A5A5A;
}

.productsListName{
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: 'Asap', sans-serif;
    width: 20vw;
}
.productsListPrice{
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: 'Asap', sans-serif;
    width: 7vw;
}
.productsListCategories{
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: 'Asap', sans-serif;
    width: 30vw;
    margin-right: 2vw;
}
.productsListDescription{
    grid-column: 4/5;
    grid-row: 2/3;
    font-family: 'Asap', sans-serif;
    width: 30vw;
}

.productsListStock{
    grid-column: 5/6;
    grid-row: 2/3;
    font-family: 'Asap', sans-serif;
    width: 10vw;
}

.productsListSize{
    grid-column: 6/7;
    grid-row: 2/3;
    font-family: 'Asap', sans-serif;
    width: 10vw;
}

.productsListColors{
    grid-column: 7/8;
    grid-row: 2/3;
    font-family: 'Asap', sans-serif;
    width: 20vw;
}

.productsListImageUrl{
    grid-column: 8/9;
    grid-row: 2/3;
    max-width: 30vw;
    width: 30vw;
}

.selectDiv {
    display: flex; 
    justify-content: space-around;
    padding: 2vw;
}

.select {
    width: 500px;
}