
.productsListGrid{
  display: grid;
  grid-template-columns: 1fr 30vw 5vw 5vw 10vw 20vw 5vw 5vw 1fr;
  grid-template-rows: 5vh;
  width: 100%;
  height: 120%;
  text-align: center;
  color: white;
  margin: 0 auto;   
}

.productsListName{
    grid-row: 1/2;
    grid-column: 2/3;
}
.productsListPrice{
    grid-row: 1/2;
    grid-column: 3/4;
}
.productsListStock{
    grid-row: 1/2;
    grid-column: 4/5;
}
.productsListSize{
    grid-row: 1/2;
    grid-column: 5/6;
}
.productsListColors{
    grid-row: 1/2;
    grid-column: 6/7;
}


.productsListProducts{
    grid-row: 2/3;
    grid-column: 1/6;
}
.selectDiv {
    display: flex; 
    justify-content: space-around;
    padding: 2vw;
}

.select {
    width: 500px;
}

.productsPages{
    background-color: #74009D;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 10vw;
    border: none;
    color: white;
  }
  
.productsPages:hover{
    background-color: #9e00d3;
}