.orderListGrid{
    display: grid;
    grid-template-columns: 1vw 1fr 1vw;
    grid-template-rows: 10vh 3fr;
}

.formCreateProductInputBox{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.orderListMap{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
