.postedUserReviewsAll {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
}
.postedUserReviewsReview {
    padding: 1vh 1vw 1vh 1vw;
    margin-bottom: 2vh;
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-radius: 1vw;;
}
.postedUserReviewsStar {
    font-size: 3vw;
    margin-bottom: 5vh;;
}
.postedUserReviewsComment {
    width:100%;
    font-size: 1.2vw;
}

.postedUserReviewsButtonDelete {
    margin-top: 1vh;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

.postedUserReviewsButtonMore {
    color: white;
    outline: none;
    border: none;
    cursor:pointer;
    margin-top: 2rem;
    width: 4rem;
    border-radius: 0.5rem;
    background-color: #74009D;
}

.postedUserReviewsButtonMore:hover {
    color: white;
    background-color: #9e00d3;
}
