*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.productSelectsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    max-width: 100vw;
    width: 100%;
}

.productSelectsCateogires{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.productSelectsSortType{
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
}