.cartProductGrid{
    display: grid;
    grid-template-columns: 0.5vw 1fr 0.5vw 1fr 0.5vw 1fr 0.5vw 10vw 0.5vw 1fr 0.5vw;
    grid-template-rows: 0.5vh 1fr 0.5vh;
    width: 100vw;
    height: 20vh;
    max-width: 100%;
    color: white;
    margin: 1vw;
}

.cartProductImage{
    grid-row: 2/3;
    grid-column: 2/3;
    max-width: 10vw;
    max-height: auto;
    border-radius: 1vw;
}

.cartProductName{
    grid-row: 2/3;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.cartProductAmout{
    grid-row: 2/3;
    grid-column: 6/7;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.cartProductPrice{
    grid-row: 2/3;
    grid-column: 8/9;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 10vw;
    height: auto;
}

.cartProductDelete{
    grid-row: 2/3;
    grid-column: 10/11;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 10vw;
    color: white;
    background-color: #74009D;
    border-radius: 1vh;
    border:none;
}

.cartProductAmountIncrease{
    width: 2vw;
    height: 4vh;
    align-self: center;
    background-color: #74009D;
    border: none;
    color: white;
    border-radius: 1vh;
    font-size: 3vh;
    margin-left: 1vw;
}

.cartProductAmountDecrease{
    width: 2vw;
    height: 4vh;
    align-self: center;
    background-color: #74009D;
    border: none;
    color: white;
    border-radius: 1vh;
    font-size: 3vh;
    margin-right: 1vw;
}