* {
    border: 0;
    margin: 0;
    padding: 0;
}

.cartProductGrid{
    display: grid;
    grid-template-columns: 0.5vw 1fr 0.5vw 1fr 0.5vw 1fr 0.5vw 10vw 0.5vw 1fr 0.5vw;
    grid-template-rows: 0.5vh 1fr 0.5vh;
    width: 100vw;
    height: 20vh;
    max-width: 100%;
    color: white;
}

.cartProductImage{
    grid-row: 2/3;
    grid-column: 2/3;
}

.cartProductName{
    grid-row: 2/3;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.cartProductAmout{
    grid-row: 2/3;
    grid-column: 6/7;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.cartProductPrice{
    grid-row: 2/3;
    grid-column: 8/9;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 10vw;
}

.cartProductDelete{
    grid-row: 2/3;
    grid-column: 10/11;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 10vw;
}