.cartTotalText{
    font-size: 3vw;
}

.cartButtonToCheckout{
    border: none;
    color: white;
    margin: 1vw;
    width: 12vw;
    height: auto;
    justify-self: center;
    align-self: center;
    font-size: 3vh;
    background-color: #74009D;
    border-radius: 0.5vw;
    text-align: center;
}

.cartButtonSignIn{
    border: none;
    color: white;
    margin: 1vw;
    width: 12vw;
    height: auto;
    justify-self: center;
    align-self: center;
    font-size: 3vh;
    background-color: #74009D;
    border-radius: 0.5vw;
    text-align: center;
}