*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.productCardGrid{
    display: grid;
    grid-template-columns: 0.3vh 3fr 0.3vh;
    grid-template-rows: 0.4vh 3fr 1fr 0.5fr 0.5vh;
    background-color: #6D999B;
    color: white;
    width: 25vw;
    height: 65vh;
    border-radius: 1.5vh;
    margin: 0.5vw;
    min-width: 200px;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.productCardGrid:hover{
    top: -2vh;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.productCardName{
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.productCardImage{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 30vw;
    height: 46vh;
    border-radius: 1.5vh 1.5vh 0 0;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    object-position: center 0.5vh;
}

.productCardPrice{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    font-size: 4vh;
}
.productCardImageSold {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 30vw;
    height: 46vh;
    border-radius: 1.5vh 1.5vh 0 0;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    object-position: center 0.5vh;
    opacity: 0.4;
}
.productCardSold{
    font-size:5vw;
    font-weight: 600;
    color:black;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
    opacity: 1;
}
