*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.productCardGrid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    background-color: #6D999B;
    color: white;
    width: 18vw;
    height: 34vh;
    border-radius: 1.5vw;
    margin: 0.5vw;
    min-width: 200px;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.productCardGrid:hover{
    top: -2vh;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.productCardName{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.productCardImage{
    grid-column: 2/3;
    grid-row: 3/4;
    max-width: 15vw;
    height: auto;
    border-radius: 1vw;
    width: 10vw;
    max-height: 20vh;
    justify-self: center;
    align-self: center;
}

.productCardPrice{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    font-size: 4vh;
}