*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.productCardGrid{
    display: grid;
    grid-template-columns: 0.3vh 3fr 0.3vh;
    grid-template-rows: 0.1vh 3fr 1fr 0.5fr 1fr 0.5vh;
    background-color: #404040;
    color: white;
    min-width: 300px;
    width: 25vw;
    height: 70vh;
    border-radius: 1.5vh;
    gap: 1vh;
    margin: 2vw;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.productCardGrid:hover{
    top: -2vh;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.productCardName{
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 1.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.productCardImage{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 30vw;
    height: 40vh;
    border-radius: 1.5vh 1.5vh 0 0;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    object-position: center 0.2vh;
}

.productCardPrice{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    font-size: 4vh;
}
.productCardImageSold {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 30vw;
    height: 46vh;
    border-radius: 1.5vh 1.5vh 0 0;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    object-position: center 0.5vh;
    opacity: 0.4;
}
.productCardSold{
    font-size:5vw;
    font-weight: 600;
    color:black;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
    opacity: 1;
}

.productCardButtonsGrid{
    grid-column: 2/3;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 0.3vh 1fr 0.3vw 1fr 0.3vh;
    grid-template-rows: 1fr;
}

.productCardCartButton { 
    width: 10vw;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 1.4vw;
    background-color: #74009D;
    border-radius: 0.5vw;
    text-align: center;
}

.productCardViewMore{
    width: 10vw;
    grid-column:4/5;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 1.4vw;
    background-color: #74009D;
    border-radius: 0.5vw;
    text-align: center;
}

/* .productCardAll {
    margin-top: 2vh;
    height: 100%;
    width: 100%;
    max-width: 30vw;
    max-height: 60vh;
    margin-bottom: 10vh;
}
 */

 @media (max-width: 1300px){
     .productCardCartButton{
         width: 13vh;
         height: auto;
         font-size: 2vh;
     }
     .productCardViewMore{
        width: 13vh;
        height: auto;
        font-size: 2vh;
     }
     .productCardName{
        font-size: 3vh;
     }
     .productCardImage{
        grid-column: 2/3;
        grid-row: 2/3;
        width: 89vw;
        height: 40vh;
        border-radius: 1.5vh 1.5vh 0 0;
        justify-self: center;
        align-self: center;
        object-fit: cover;
        object-position: center 0.2vh;
     }
 }