.productCardAll {
  width: 95%;
  border-top: 0.1rem solid white;
  display: flex;
  align-items: center;
  color: white;
  height: 12rem;
}


.productCardImage{
  background-color: white;
  height: 10rem;
  width: 10rem;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
}

.verticalLine{
  border-left: 0.1rem solid white;
  height: 80%;
}

.productInfo{
  height: 10rem;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101010;
  border-radius: 0.5rem;
  margin: 0 1rem;
}

.productCardName{
  text-align: justify;
}

.productCardUserButtons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.productCardPrice, .productCardDiscount{
  font-size: 1.2rem;
  margin: 0.7rem 0;
}

.categories{
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.productCardDiscountPrice{
  text-decoration: line-through;
  color: rgb(200, 0, 0);
}

.productNamePrice{
  margin: 0 1rem;
}

.productCardImageSold {
  background-color: white;
  height: 10rem;
  width: 10rem;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  opacity: 0.4;
}

.productCardSOLDOUT{
  font-size: 2rem;
  color: rgb(200, 0, 0);
}

.productCardSold{
  color:black;
  width: 95%;
  display: flex;
  align-items: center;
}

.productCardButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;
  margin: 0 1rem;
}

.productCardButton { 
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  width: 7rem;
  padding: 0.5rem 1rem;
  background-color: #74009D;
  border-radius: 0.5rem;
  outline: none;
  color: white;
  border: none;
}

.productCardButton:hover{
  background-color: #9e00d3;
}

.productCardlink{
  text-decoration: none;  
  color: white;
}

.inactiveWishlist, .activeWishlist {
  background-color: transparent;
  border: none;
  outline:none;
  cursor: pointer;
  margin-right: 2rem;
  font-size: 2rem !important;
}

.inactiveWishlist{
  color: white;
}

.activeWishlist{
  color: #74009D;
}