.profileAll {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem auto;
    width: 50rem;
    height: 27.5rem;
    background-color: #101010;
    border-radius: 1rem;
}

.profileNames{
  display: flex;
}

.profileName, .profileLastName{
    font-size: 1.5rem;
    color: white;
    margin: 0.5rem 0;
}

.profileUsername{
    color: white;
}

.profileBirthday, .profileAddress, .profileCity, .profileCountry,
.profilePostal, .profilePhoneNumber, .profileEmail, .profileAddressForm{
    display: block;
    font-size: 1.1rem;
    color: white;
    margin: 0.5rem;
}

.profilePhoto{
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center center;
}

.profileLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profileRight {
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.profileLogOut{
  background-color: #74009D;
  color: white;
  font-size: 1rem;
  margin: 0 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: 5rem;
  height: 2rem;
}

.profileEditButton, .profileSaveChangesButton{
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: white;
  width: 2rem;
  height: 2rem;
}

.profileSaveChangesButton{
  margin-left: 0.5rem;
  background-color: rgb(0, 150, 0);
}

.profileEditButton{
  background-color: #74009D;
}

.profileEditButton:hover{
  background-color: #9e00d3;
}

.profileButtons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}

.profileEditButton:hover, .profileLogOut:hover {
  cursor: pointer;
  background-color: #9e00d3;
}

.editable{
  margin: 0 0.5rem;
  width: 10rem;
  display: inline-block;
  background-color: white;
  color: black;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.5rem;
}

.noteditable {
  margin: 0 0.5rem;
  display: inline-block;
}

.suscribeMail{
  display: flex;
  align-items: center;
}

.suscribeMailText{
  color: white;
}

.suscribeMailBox{
  margin-right: 0.3rem;
  height: 1.1rem;
  width: 1.1rem;
}



































