.createButtonRouterGrid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  height: 70vh;
}

.createButtonRouterProduct, .createButtonRouterCategory{
  color: white;
  outline: none;
}

.createButtonRouterProductButton, .createButtonRouterCategoryButton{
  cursor: pointer;
  border: none;
  margin: 2rem 0;;
  font-size: 1.25rem;
  width: 16rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background-color: #74009D;
  color: white;
}

.createButtonRouterProductButton:hover, .createButtonRouterCategoryButton:hover{
  background-color: #9e00d3;
}
