.listButtonRouterGrid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.listButtonRouterProductButton, .listButtonRouterCategoryButton, .listButtonRouterUsersButton{
  cursor: pointer;
  border: none;
  margin: 2rem 0;;
  font-size: 1.25rem;
  width: 7rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background-color: #74009D;
  color: white;
}

.listButtonRouterUsers, .listButtonRouterCategory, .listButtonRouterProduct {
  color: white;
  outline: none;
}

