.ProductDetailGridAll{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #101010;
  margin: 5rem auto 2rem auto;
  width: 70rem;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  font-size: 1.1rem;
}

.carouselandinfo{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 1.5rem;
}

.detailDescription, .ProductDetailDescription{
  margin: 1.5rem 0;
}


.productDetailinformation{
  margin: 3.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.productDetailInfo, .productDetailButton{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 10rem;
  font-size: 1.2rem;
}

.productDetailDescritionTitle{
  padding-top: 1rem;
  border-top: 0.1rem solid white;
  margin-bottom: 1rem;
}

.productDetailAddToCart{
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
  background-color: #74009D;
  color: white;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.productDetailAddToCart:hover{
  background-color: #9e00d3;
}

.ProductDetailColors{
  display: flex;
  align-items: center;
}

.ProductDetailGrid{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.productDetailEdit, .productDetailSave{
  height: 2rem;
  width: 2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.productDetailEdit{
  background-color: #74009D;
}

.productDetailEdit:hover{
  background-color: #9e00d3;
}

.productDetailSave{
  background-color: rgb(0, 150, 0);
}

.productDetailSave:hover{
  background-color: rgb(0, 200, 0);
}

.productDetailPriceDiscount{
  text-decoration: line-through;
  color: rgb(200, 0, 0);
  margin: 0 0.25rem 0 0.5rem;
}

.productDetailDiscount{
  margin: 0 0.25rem;
}

.editableProductDetailDescription{
  margin: 1.5rem 0;
  background: white;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: black;
}

.productDetailCategories{
  margin-top: 1rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.2rem;
  transition-duration: 0.5s;
}

.productDetailCategories:hover {
  background-color: rgba(112, 112, 112, 0.556);
  color: black;
  cursor: default;
}

.productDetailCategoriesAll {
  width: fit-content;
}

.ProductDetailSelect{
  width: 20rem
}

.ProductDetailRating {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ProductDetailColorButton {
  margin-left: 0.5rem;
  border: none;
  padding: 0.3rem;
  background-color: #74009D;
  border-radius: 0.5rem;
  color: white;
  transition-duration: 0.4s;
}

.ProductDetailColorButton:hover{
  background-color: #9e00d3;
}
