.HighlightedProductsGeneral {
    text-align: center;
    margin-top: 1rem;   
    background-color: #101010;
    width: 70rem;
    height: 20rem;
    margin-left: 7rem;
    border-radius: 0.5rem;
}
.HighlightedProductsAll{
    display: flex;
    justify-content: center;
    height: 20rem;
    flex-direction: row;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
}

.HighlightedProductsButtonBackward{
    outline: none;
    cursor: pointer;
    margin-top: 7rem;
    padding: 3px;
    display: flex;
    width: 2rem;
    height: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    color: white;   
    background-color: #74009D;
    border:none;
}

.HighlightedProductsButtonBackward:hover{
    color: white;
    background-color: #9e00d3;
}

.HighlightedProductsButtonForward{
    outline: none;
    cursor: pointer;
    margin-top: 7rem;
    padding: 3px;
    display: flex;
    width: 2rem;
    height: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    color: white;   
    background-color: #74009D;
    border:none;
}

.HighlightedProductsButtonForward:hover{
    color: white;
    background-color: #9e00d3;
}

.HighlightedProductFeatured {
    text-align: center;
    justify-self: center;
    height:5rem;
}

