.ProductDetailGridAll{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #101010;
  margin: 5rem auto 2rem auto;
  width: 70rem;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  font-size: 1.1rem;
}

.carouselandinfo{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 1.5rem;
}

.detailDescription, .ProductDetailDescription{
  margin: 1.5rem 0;
}


.productDetailinformation{
  margin: 3.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.productDetailInfo, .productDetailButton{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 10rem;
  font-size: 1.2rem;
}

.productDetailDescritionTitle{
  padding-top: 1rem;
  border-top: 0.1rem solid white;
}
.productDetailAddToCart{
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
  background-color: #74009D;
  color: white;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.ProductDetailColors{
  display: flex;
  align-items: center;
}

.ProductDetailGrid{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}