*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registerBackground{
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 140vh;
    background-color: #5A5A5A;
    align-items: center;
    justify-content: center;
    color: white;
}

.registerGrid{
    
    background-color: #404040;
    height: 130vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 0.5vw 1fr 0.5vw;
    grid-template-rows: 0.5vh 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5vh;
    border-radius: 0.5vw;
    min-width: 200px;
}

.registerName{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.registerFirstName{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.registerLastName{
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.registerEmail{
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.registerBirthDay{
    grid-column: 2/3;
    grid-row: 6/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerCountry{
    grid-column: 2/3;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.registerPassword{
    grid-column: 2/3;
    grid-row: 8/9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerConfirmPassword{
    grid-column: 2/3;
    grid-row: 9/10 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerSendRegister{
    grid-column: 2/3;
    grid-row: 10/11 ;
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 4vh;
    align-self: center;
    justify-self: center;
    color: white;
    background-color: #A206DA;
    align-items: center;
    border-radius: 0.5vw;
}

.loginGoogle1{
    grid-column: 2/3;
    grid-row: 11/12;
    width: 20%;
    height: 70%;
    align-self: center;
    justify-self: center;
}

.registerInput{
    color: black;
}

.registerError{
    color: coral;
}

.registerH1{
    font-size: 2vw;
}