*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchBarFlex{
  display: flex;
}

.searchBarButton {
  border: none;
  text-decoration: none;
  background: #6D999B;
  color: #ffffff;
  width: 8vw;
  font-family: sans-serif;
  font-size: 2.0vw;
  cursor: pointer;
  text-align: center;
  border-radius: 0 1vw 1vw 0 ;
  font-weight: bolder; 
}

.searchBarButton:hover,.material-icons{
  transform: scale(-1, 1);
  border-radius: 1vw 0 0 1vw;
}

.searchBarText {
  border-radius: 1vw 0 0 1vw;
  width: 25vw;
}

.searchBarText:placeholder-shown{
  padding-left: 1vw;
}

.searchBarText:focus {
  border-radius: 1vw 0 0 1vw;
}
