.cartFlex{
    display: flex;
    flex-direction: column;
}

.cartFlexItems{
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.cartFlexTotal{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 1vw;
    color: white;
}

.cartDeleteButton{
    border: none;
    color: white;
    margin: 1vw;
    width: 12vw;
    height: auto;
    justify-self: center;
    align-self: center;
    font-size: 3vh;
    background-color: #74009D;
    border-radius: 0.5vw;
    text-align: center;
}