* {
    border: 0;
    margin: 0;
    padding: 0;
}

.cartFlex{
    display: flex;
    flex-direction: column;
}

.cartFlexItems{
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.cartFlexTotal{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 1vw;
}