.aboutBox{
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.aboutTitle{
    align-self: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.aboutCardsBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}