.formCategoryCreationFlex{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 75vh;
}

.formCategoryCreationGrid{
  padding: 2rem;
  display: grid;
  background-color: #101010;
  border-radius: 0.5rem;
}

.formCategoryCreationName{
  outline: none;
  border: none;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  height: 2rem;
  width: 15rem;
  color:black;
}

.formCategoryCreationName:placeholder-shown{
  padding-left: 1vw;
}

.formCategoryCreationSubmit{
  margin-top: 3rem;
  cursor: pointer;
  background-color: #74009D;
  color: white;
  justify-self: center;
  align-self: center;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  height: 2rem;
  width: 4rem;
}

.formCategoryCreationSubmit:hover{
  background-color: #9e00d3;
}