.background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #74009D;
}

.landingBackground{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
  max-height: 100%;
  color:white;
}


.landingText{
  margin: 3rem 0;
  width: 20rem;
  font-size: 3rem;
  text-align: right;
}

.landingLogo{
  font-size: 6rem;
}

.landingButtonText{
  outline: none;
  border: none;
  cursor: pointer;
  width: 16rem;
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.landingChevron{
  text-align: center;
  display: inline-block;
  height: 2.3rem;
  width: 2.3rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: #A206DA;
  color: white;
  margin: 0.5rem;
}

.landingLogoText{
  display: flex;
  text-align: right;
}

.landingImage{
  width: 45%;
  position: absolute;
  right: 2rem;
  top: 1rem;
}