.landingBackground{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background-color: #74009D;
  color:white;
}

.landingButton{
  text-align: center;
  justify-content: center;
}