.orderInfoCompAll{
  margin: auto;
  margin-top: 5rem;
  color: white;
  border-top: 0.1rem solid white;
  height: 100vh;
  width: 60vw;
}

.orderInfoCompTotal{
  border-top: 0.1rem solid white;
}