.carousel{
  display: flex;
  width: 25rem;
  overflow: hidden;
  align-items: center;
  width: 100%;
  max-width: 100vw;
}

.carouselAll {
  border-radius: 1rem;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carouselAll::-webkit-scrollbar {
  width: 10px;
  height: 10px; 
  display: none;
}
.carouselAll::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px; 
  display: none;
}
.carouselAll::-webkit-scrollbar-track {
  background: transparent; 
  display: none;
}

 .imagelink{
  color: white;
  background-color: transparent;
  font-size: inherit;
  width: inherit;
  height: inherit;
}

.carouselAll > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 20rem;
  height: 20rem;
  margin: 0 1rem;
  border-radius: 1rem;
  background: white;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
  border-radius: 1rem;
  border: none;
  width: 20rem;
  height: 20rem;
}
.carouselButtonPrev, .carouselButtonNext {
  background-color: transparent;
  outline: none;
  border: none;
  height: 3rem;
  width: 2.5rem;
  font-size: 3rem;
  color: white;
  margin: 0 0.5rem;
}