.HighlightedProductAll {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
    grid-template-columns: 1fr;
    max-height: 19rem;
    width: 15rem;
    align-self: center;
    text-align: center;
    transition-duration: 0.8s;
    
}

.HighlightedProductAll:hover {
    background-color: rgba(0, 0, 0, 0.645);
}

.HighlightedProductImage {
    grid-row: 2/3;
    max-width: 10rem;
    max-height: 8rem;
    justify-self: center;
    background-color: white;
    border-radius: 0.5rem;
}

.HighlightedProductTitle {
    grid-row: 1/2;
    font-size: 1rem;
}

.HighlightedProductRating {
    grid-row: 3/4;
    color: gold;
    justify-self: center;
}

.HighlightedProductPrice{
    grid-row:4/5;
    margin-bottom: 0.5rem;
    color: rgba(11, 153, 18, 0.782);
}

.HighlightedProductDiscount{
    margin-top: 0.5rem;
  color: gold;
}
