.formCategoryCreationFlex{
    display: flex;
    width: 100vw;
    height: 88vh;
    background-color: #5A5A5A;
    align-items: center;
    justify-content: center;
    color: white;
}

.formCategoryCreationGrid{
    display: grid;
    grid-template-columns: 0.5vw 1fr 0.5vw;
    grid-template-rows: 0.5vh 1fr 1fr 0.5vh;
    background-color: #404040;
    height: 40vh;
    width: 30vw;
    border-radius: 0.5vw;
}

.formCategoryCreationName{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    height: 30%;
    width: 60%;
    color:black;
}

.formCategoryCreationName:placeholder-shown{
    padding-left: 1vw;
}

.formCategoryCreationSubmit{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    height: 30%;
    width: 60%;
    color:black;
}