.userListGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 180vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-width: 0.4rem 0rem 0rem 0rem;
    border-style: groove;
    border-bottom:cornsilk;
}
.userListName {
    grid-column: 1/2;
    grid-row: 1/2;
}
.userListFirstName {
    grid-column: 2/3;
    grid-row: 1/2;
}
.userListLastName {
    grid-column: 3/4;
    grid-row: 1/2;
}
.userListBirthday {
    grid-column: 4/5;
    grid-row: 1/2;
}
.userListCountry {
    grid-column: 5/6;
    grid-row: 1/2;
}
.userListEmail {
    grid-column: 6/7;
    grid-row: 1/2;
}
.userListRole {
    grid-column: 7/8;
    grid-row: 1/2;
    color:black;
    max-width: 15vw;
}
.userListStatus {
    grid-column: 8/9;
    grid-row: 1/2;
    color:black;
    max-width: 15vw;
}
.userListSubmmitButton {
    grid-column: 9/10;
    grid-row: 1/2;
    background-color: chartreuse;
}

