 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

.usersListHeaders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 180vw;
}

.usersListAll {
   display: flex;
   flex-direction: column;
   color: white;
}
