.circle {
  height: 3.5vh;
  width: 2vw;
  border-radius: 100%;
  display: inline-block;
  transition: 0.3s;
  transform: translateY(0px);
  margin-bottom: 1vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.circle:hover {
  box-shadow: 0 8px 16px 0 black;
  transform: translateY(-5px);
}