.cartFlex{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}

.cartFlexItems{
    display: flex;
    flex-direction: column;
    margin: 1vw;
    width: 60%;
}

.cartFlexTotal{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: flex-start;
  justify-self: center;
  color: white;
  width: 25%;
  background-color: #101010;
  border-radius: 0.5rem;
  margin: 5rem;
}

.cartDeleteButton{
  cursor: pointer;
  border: none;
  color: white;
  margin: 0.5rem 0 1rem 0;
  width: 10rem;
  height: 3rem;
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
  background-color: #74009D;
  border-radius: 0.5rem;
  text-align: center;
}

.cartDeleteButton:hover{
  background-color: #9e00d3;
}

.cartNoProducts{
  margin-top: 10rem;
  color: white;
  text-align: center;
}