.orderListItemGrid{
    display:grid;
    color: white;
    grid-template-columns: 3vw 1fr 0.2fr 1fr 3vw;
    grid-template-rows: 3vh 1fr 1fr 1fr 3vh;
    width: 100%;
    height: 25vh;
    border: 0.1rem solid white;
    margin: 2vh;
    background-color: #101010;
    border-radius: 0.5rem;
}

.orderListUser{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}

.orderListPrice{
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}

.orderListAdress{
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
}

.orderListStatus{
    grid-column: 4/5;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
}

.formCreateProductInput{
    color: black;
}

.orderListEdit{
    grid-column: 4/5;
    grid-row: 4/5;
    align-self: flex-end;
    justify-self: flex-end;
    border: none;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: #74009D;
    cursor: pointer;
}

.orderListEdit:hover{
  background-color: #9e00d3;
}