.resetNewPasswordAll{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  background-color: #101010;
  color: white;
  border-radius: 0.5rem;
  width: 30rem;
  height: 15rem;
}

.resetNewPasswordText{
  font-size: 1.1rem;
  margin-right: 1rem;
}

.resetNewPasswordInput{
  padding-left: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  width: 10rem;
}

.resetNewPasswordButton{
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  border:none;
  border-radius: 0.5rem;
  height: 2rem;
  width: 3rem;
  color: white;
  background-color: #74009D;
}

.resetNewPasswordButton:hover{
  background-color: #9e00d3;
}