.userReviewsAll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 45vh;
}
.userReviewsOne {
   grid-column: 3/4;
   grid-row: 1/2;
   font-size: 4vw;
   display: block;
   justify-self: stretch;
   align-self:center;
}
.userReviewsStarOne {
    grid-column: 3/3;
    grid-row: 1/2;
}
.userReviewsLabelOne {
   align-self: flex-end;
   flex-grow: 2;
   text-align: center;
 }
.usersReviewsDescription {
    align-self: center;
    width: 50vw;
    height:10vh;
    background-color: black;
    color:whitesmoke;
}
.userReviewsText{
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
