
.loginGrid{
    background-color: #101010;
    color: white;
    height: 27.5rem;
    width: 27.5rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
}

.loginUserName, .loginPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

.loginUserNameText, .loginPasswordText{
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.loginSend{
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #74009D;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1.1rem;
}

.loginSend:hover{
  background-color: #9e00d3;
}

.loginErrors{
    margin-top: 0.5rem;
    color: rgb(200, 0, 0);
}

.loginUserInput{
    outline: none;
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    color: black;
    height: 2rem;
    width: 15rem;
    padding: 0.5rem 1rem;
}

.registerLink{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem 0;
}