.homeLoadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD:client/src/components/HomeCatalogue/home/home.css
.homeBackground {
  height: fit-content;
}

=======
>>>>>>> e148964a515d1289889705d7748f97d4f7c8b234:client/src/components/home/home.css
.homeProductCarousel {
  justify-self: center;
  width: 100%;
  max-width: 98vw;
  margin: 0px;
}
.homeBackground{
  width: 100%;
  max-width: 100vw;
}