.navBarGrid {
    position: sticky;
    height: 5rem;
    background-color: #74009D;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarMenuIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.navBarLogo {
    font-size: 1.25rem;
    font-family: 'Fredoka One', cursive;
    color:white;
    margin-left: 1rem;
}

/* .navBarAcountManager{
    width: 100%;
    height: 100%;
} */

.navBarListAll, .navBarCreateProduct, .navBarProfile, .navBarCart {
    color: white;
    margin: 0 0.5rem;
}

.userName{
    color: white;
    margin: 0 0.5rem;
    font-size: 1.1rem;
}
